.lifestyle .banner {
    height: 60vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.384)), url('../../assets/lifestyle/bg-01.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifestyle .banner h1 {
    font-size: 4rem;
    color: #9e3b17;
    color: #fff;
}

@media screen and (max-width:1024px) {
    .lifestyle .banner h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}