.business .banner {
    height: 60vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.429), rgba(0, 0, 0, 0.283)), url('../../assets/business/bg-03.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business .banner h1 {
    font-size: 4rem;
    color: #9e3b17;
    color: #fff;
}

@media screen and (max-width:1024px) {
    .business .banner h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}